<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.spacetimecat.eclipse.category1"
            name="STC Eclipse">
      </category>
      <view
            category="com.spacetimecat.eclipse.category1"
            class="com.spacetimecat.eclipse.admin.ui.internal.STC_Admin_View_Part"
            id="com.spacetimecat.eclipse.view1"
            name="STC Admin View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.spacetimecat.eclipse.admin.ui.internal.Ensure_STC_Eclipse_Initialized_Command"
            id="com.spacetimecat.eclipse.command1"
            name="Ensure STC Eclipse initialized">
      </command>
   </extension>

</plugin>
